html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-image: url('../assets/space.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

::-webkit-scrollbar { 
  display: none; 
}

dialog {
  z-index: 100;
  filter: brightness(0.85);
}

dialog::backdrop {
  background-color: #3333336c;
}

h2, h3 {
  text-align: center;
}

#quotation-attribute {
  text-align: right;
  margin-right: 30%;
}

.quotation-lines {
  font-family: 'Crimson Text', serif;
}


#open-book {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  perspective: 1200px;
}

#open-book .left-page,
#open-book .right-page {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 0.5s;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
}

#open-book .right-page {
  left: 50%;
  transform-origin: left center;
  display: flex;
  flex-direction: column;
}

.left-page-content {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.right-page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.audio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-section-left {
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
}

.audio-section-left audio {
  width: 100%;
}

audio {
  width: 80%;
}

nav {
  padding: 10px;
  position: fixed;
  opacity: 0;
  height: 100%;
  left: 5%;
  margin-bottom: 20%;
}

#chapters {
  align-self: center;
  height: 60%;
  width: 90%;
  overflow: scroll;
  text-align: center;
}

.chapter {
  width: 100%;
  cursor: pointer;
  list-style: square;
}

.chapter:hover {
  background-color: #CCCCCC;
}

#share-book-container {
  display: flex;
  justify-content: space-around;
}

#top-arrow{
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

#nav-progress {
  position: absolute;
  background-color: white;
  width: 66px;
  height: 35px;
  z-index: -1;
}

#main-title {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#top-nav {
  flex-direction: row;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  font-size: 32px;
  font-weight: bold;
  flex-wrap: wrap;
}

section p, section ul, section th, section td {
  font-family: 'Roboto Mono', monospace;
  font-weight: initial;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;
}

.text-group {
  border: 2px solid white;
  background-color: rgba(49, 6, 36, 0.4);
  border-radius: 16px;
  max-width: 65%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog-date {
  align-self: baseline;
  margin-left: 18%;
  font-size: initial;
  padding: 5px;
  margin-bottom: -20px;
}

.blog-post {
  font-size: initial;
  min-width: 65%;
}

#library {
  flex-direction: column;
}

.top-nav-item {
  margin: 40px;
}

#side-nav-list {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  top: -3%
}

#side-menu {
  position: fixed;
  height: 100%;
  right: 10%;
}

#side-menu-list {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  top: -3%
}

.side-menu-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.side-menu-a {
  padding: 0;
}

a:not(#open-book-link) {
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover:not(#github-link, .side-nav-link, #open-book-link, .side-menu-a) {
  background-color: #55555577;
}

.separator {
  margin: 0 5px;
  cursor: default;
}

#books-outer {
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#books-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.left-text {
  margin-bottom: 0px;
}

.book {
  width: 165px;
  height: 240px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F9FBFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, filter 0.3s;
}

.book:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.book:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background-color: #000;
  opacity: 0.5;
}

.book:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}

.book-title {
  /* z-index: 2; */
  /* opacity: 0.8; */
  position: absolute;
  bottom: 40px;
  left: 10px;
  margin-right: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}

.book-author {
  /* z-index: 2; */
  /* opacity: 0.7; */
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #FFF;
  font-size: 12px;
}

.book-cover-0::before {
  background-image: url('../assets/book-cover-1.jpg');
}

.book-cover-1::before {
  background-image: url('../assets/book-cover-1.jpg');
}

.book-cover-2::before {
  background-image: url('../assets/book-cover-2.jpg');
}

.book-cover-3::before {
  background-image: url('../assets/book-cover-3.jpg');
}

.book-cover-4::before {
  background-image: url('../assets/book-cover-4.jpg');
}

.book-cover-5::before {
  background-image: url('../assets/book-cover-5.jpg');
}

#credits {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.inline-link {
  color: rgb(236, 231, 191) !important;
  padding: 0px !important;
}

td {
  border: solid 1px white;
}

th {
  color: gold;
}

table {
  margin-bottom: 65px;
  word-break: break-all;
}

#comment-text {
  background-color: rgba(122, 22, 92, 0.4);
  color: #F9FBFF;
}

#github-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#github {
  filter: brightness(1.5);
  width: 50px;
  height: 50px;
}

#github:hover {
  filter: brightness(2);
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in 0.6s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
